.text1{
	font-family: arial;
	font-size: 55px;
}

.text2{
	font-family: verdana;
	font-size: 35px;
}

.text3{
	font-family: times new roman;
	font-size: 25px;
}

.textsatu{
	color: red;
}

.textdua{
	color: red;
}

.texttiga{
	color: Chartreuse;
}