<ifModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^login\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ login.php/$1 [L]
</ifModule> 
